{{ ansible_managed | comment }}

## For original template go to:
## https://github.com/ohmyzsh/ohmyzsh/blob/master/templates/zshrc.zsh-template

DEFAULT_USER=`whoami`

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="{{ omz_zshrc_theme }}"

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="{{ omz_zshrc_case_sensitive }}"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="{{ omz_zshrc_hyphen_insensitive }}"

zstyle ':omz:update' mode {{ omz_zshrc_updates_mode }}

# Uncomment the following line if pasting URLs and other text is messed up.
DISABLE_MAGIC_FUNCTIONS="{{ omz_zshrc_disable_magic_functions }}"

# Uncomment the following line to disable colors in ls.
DISABLE_LS_COLORS="{{ omz_zshrc_disable_ls_colors }}"

# Uncomment the following line to disable auto-setting terminal title.
DISABLE_AUTO_TITLE="{{ omz_zshrc_disable_auto_title }}"

# Uncomment the following line to enable command autocorrection.
ENABLE_CORRECTION="{{ omz_zshrc_enable_correction }}"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
COMPLETION_WAITING_DOTS="{{ omz_zshrc_completion_waiting_dots }}"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="{{ omz_zshrc_disable_untracked_files_dirty }}"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
HIST_STAMPS="{{ omz_zshrc_hist_stamps }}"

# Would you like to use another custom folder than $ZSH/custom?
ZSH_CUSTOM={{ omz_zshrc_zsh_custom }}

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ omz_zshrc_plugins | join(" ") }})

source $ZSH/oh-my-zsh.sh

